<div class="container">

  <h1> Tout les films de l'utilisateur </h1>

  <div class='mb-3'>
    <ul class="list-unstyled">
      <% @list.each do |movie| %>
        <div class="py-3">
          <li class="py-1"><%= movie.title %></li>
          <li class="py-1"><%= movie.overview %></li>
          <li class="list-group-item py-1"><img style="height: 300px" src="<%= movie.poster_url%>"></li>
          <%= link_to "Réserver ce film", new_movie_offer_path(@movie), class: "btn btn-primary" %>
        </div>
      <%end%>
    </ul>
  </div>

  <%= link_to "Page principale", root_path, class: "btn btn-primary"%> |
  <%= link_to "Ma liste de films", movies_path, class: "btn btn-primary" %>

</div>

