<h1>Add a new movie</h1>
<%= simple_form_for(@movie) do |f| %>
  <%= f.input :title %>
  <%= f.input :overview %>
  <%= f.input :poster_url %>
  <%= f.input :status %>
  <%= f.submit %>
<% end %>
<%= link_to "homepage", root_path, class: "btn btn-primary"%>
