<div class="container w-100 d-flex justify-content-center align-items-center flex-column p-3 container-position">
  <%= image_tag("television-static.gif", width: '68%') %>
  <div class="add-movie-form">
    <div class="form-text-visibility">
      <h1>Ajouter un film</h1>
      <%= simple_form_for(@movie) do |f| %>
        <%= f.input :title, label: "Titre" %>
        <%= f.input :overview, label: "Résumé" %>
        <%= f.input :genre_name, label: "Style" %>
        <%= f.input :photo, as: :file %>
        <%= f.submit :Envoyer, class: "page-button"%>
      <% end %>
      </div>

    <div class="add-movie-form-background"></div>
  </div>

</div>
