<div class="container d-flex flex-column justify-content-center align-items-center pt-4 pb-4 margin-for-movie">
    <!-- title -->
    <h1 class="movie-title"> <%= @movie.title %> </h1>

    <div class="container d-flex flex-row justify-content-around align-items-center">
        <!-- card -->
      <div class="flex-cassette-cards-page-container">

        <div class="cassette-cards-container">
          <div class="cassette-card d-flex p-3">
          <div class="cassette-card-image">
                <%= image_tag("vhs.png", width: '130') %>
              <div class="cassette-card-image-poster"><img src="<%= @movie.poster_url%>"></div>
          </div>

            <div class="cassette-card-infos">
                <h3 class="cassette-card-infos-movie-title"><%= link_to @movie.title, movie_path(@movie) %></h3>
                <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
                <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
                <p class="cassette-card-infos-genre"><strong>Genre: </strong><%= @movie.genre_name.tr("[]\"", "") if @movie.genre_name!=nil%></p>
                <p class="cassette-card-infos-summary"> <%= @movie.overview.slice(0, 110) if @movie.genre_name!=nil%>... </p>
            </div>
            </div>
          </div>
        </div>

        <!-- map -->
        <div style="width: 100%; height: 325px;" class="cassette-card"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

      </div>

      <div class="container d-flex justify-content-around w-100 movie-action-buttons">
        <div data-controller="toggle" class="mt-5">
          <button class="page-button mb-3 test-button" data-action="click->toggle#fire" class="btn btn-outline-secondary">  Je veux réserver ce film  </button>
          <%= link_to "Autre film de cet utilisateur", list_movie_path, class: "page-button test-button" if current_user != @movie.user %>
          <%= link_to "Ma liste de films", movies_path, class: "page-button test-button" %>
            <div class="text-white d-none" data-toggle-target="togglableElement">
              <%= simple_form_for [@movie, @offer] do |f| %>
                <%= f.input :start_date, as: :string, input_html: {data: {controller: "datepicker"}}%>
                <%= f.input :end_date, as: :string, input_html: {data: {controller: "datepicker"}}%>
                <%= f.submit "Submit", class: "page-button mb-3" %>
              <% end %>
            </div>
        </div>
      </div>
        <!-- buttons -->

</div>
