<h1> Movies list </h1>
<div class="container">
  <ul class="list-unstyled">
    <li><%= @movie.title %></li>
    <li><%= @movie.description %></li>
    <li><%= @movie.poster_url %></li>
    <li><%= @movie.status %></li>
  </ul>
</div>

  <%= link_to "list of user", list_movie_path, class: "btn btn-primary" %>
  <%= link_to "my list of movies", movies_path, class: "btn btn-primary" %>
  <%= link_to "homepage", root_path, class: "btn btn-primary" %>
  <%= link_to "Book this film", new_movie_offer_path(@movie), class: "btn btn-primary" %>
