<nav class="navbar-lewagon">

  <div class="orange-line">
    <%= image_tag("logo-videopasse.png", width:'90') %>
      <%= form_with url: movies_path, class: "navbar-form", method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Entrez le titre du film", class: "form-text-field"%>
      <%= submit_tag "Search", class: "navbar-button"%>
    <% end %>

   <% if user_signed_in? %>
      <%= link_to "Crée ta VHS!", new_movie_path, class: "navbar-button" %>
    <% else %>
      <%= link_to "Crée ta VHS!", new_user_session_path, class: "navbar-button" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-button" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-button" %>
    <% end %>

  </div>

  <div class="yellow-line"></div>
  <div class="red-line"></div>
  <div class="blue-line"></div>
</nav>

<!-- Structure de la card : begin -->

<div class="flex-cassette-cards-page-container">
  <div class="cassette-cards-container">
  <% @movies.each do |movie| %>
    <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster"><img src="<%= movie.poster_url%>"></div>
      </div>

      <div class="cassette-card-infos">
        <h3 class="cassette-card-infos-movie-title"><%= link_to movie.title, movie_path(movie) %></h3>
        <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
        <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
        <p class="cassette-card-infos-genre"><strong>Genre:</strong><!-- categorie du film, à interpoler --> Sci-Fi, Aventure, Comédie</p>
        <p class="cassette-card-infos-summary"> <%= movie.overview%> </p>
      </div>
    </div>
  <%end%>
  </div>
</div>

<!-- Structure de la card : end -->


<footer class="foot" >

  <div class="blue-line"></div>
  <div class="red-line"></div>
  <div class="yellow-line"></div>
  <div class="orange-line-footer">
    <div class="copyright-footer-container">
      <p><em>Copyright © 2024 Vidéo Passé, Inc.</em></p>
    </div>
    <div class="links-footer-container">
      <p>À propos</p>
      <p>Nous contacter</p>
      <p>Conditions d'utilisation</p>
      <p>Politique de confidentialité</p>
    </div>
  </div>
</footer>
