<!-- Structure de la card : begin -->

<div class="flex-cassette-cards-page-container">
  <div class="cassette-cards-container">
    <% @movies.each do |movie| %>
    <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster">
          <% if movie.poster_url != nil %>
            <img src="<%= movie.poster_url %>">
          <% else %>
            <%= cl_image_tag movie.photo.key %>
          <% end %>
        </div>
      </div>

        <div class="cassette-card-infos">
          <h3 class="cassette-card-infos-movie-title"><%= link_to movie.title, movie_path(movie) %></h3>
          <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler --><%= (1..15).to_a.sample %> km</p>
          <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> <%= (1..31).to_a.sample %> <%= ["Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"].sample %> 2024</p>
          <p class="cassette-card-infos-genre"><strong>Genre: </strong><%= movie.genre_name.tr("[]\"", "") if movie.genre_name!=nil%></p>
          <p class="cassette-card-infos-summary"> <%= movie.overview.slice(0, 110) if movie.genre_name!=nil%>... </p>
        </div>
    </div>
    <%end%>
  </div>
</div>

<!-- Structure de la card : end -->
