<nav class="navbar-lewagon">

  <div class="orange-line">
    <%= image_tag("logo-videopasse.png", width:'70') %>
    <%= form_with url: "/", method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Entrez le titre du film"%>
    <%= submit_tag "Search" %>
    <% end %>
    <%= link_to "Login", new_user_session_path %>
  </div>

  <div class="yellow-line"></div>
  <div class="red-line"></div>
  <div class="blue-line"></div>
</nav>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>

<!-- Structure de la card : begin -->
<div class="flex-cassette-cards-page-container">
  <div class="cassette-cards-container">

    <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster"><%= image_tag 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' %></div>
      </div>

      <div class="cassette-card-infos">
        <h3 class="cassette-card-infos-movie-title"><!-- titre du film, à interpoler -->Retour Vers Le Futur</h3>
        <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
        <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
        <p class="cassette-card-infos-genre"><strong>Genre:</strong><!-- categorie du film, à interpoler --> Sci-Fi, Aventure, Comédie</p>
        <p class="cassette-card-infos-summary"><!-- résumé du film, à interpoler -->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
      </div>
    </div>

<!-- a enlever : begin -->
    <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster"><%= image_tag 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' %></div>
      </div>

      <div class="cassette-card-infos">
        <h3 class="cassette-card-infos-movie-title"><!-- titre du film, à interpoler -->Retour Vers Le Futur</h3>
        <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
        <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
        <p class="cassette-card-infos-genre"><strong>Genre:</strong><!-- categorie du film, à interpoler --> Sci-Fi, Aventure, Comédie</p>
        <p class="cassette-card-infos-summary"><!-- résumé du film, à interpoler -->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
      </div>
    </div>

      <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster"><%= image_tag 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' %></div>
      </div>

      <div class="cassette-card-infos">
        <h3 class="cassette-card-infos-movie-title"><!-- titre du film, à interpoler -->Retour Vers Le Futur</h3>
        <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
        <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
        <p class="cassette-card-infos-genre"><strong>Genre:</strong><!-- categorie du film, à interpoler --> Sci-Fi, Aventure, Comédie</p>
        <p class="cassette-card-infos-summary"><!-- résumé du film, à interpoler -->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
      </div>
    </div>

      <div class="cassette-card d-flex p-3">
      <div class="cassette-card-image">
        <%= image_tag("vhs.png", width: '130') %>
        <div class="cassette-card-image-poster"><%= image_tag 'https://m.media-amazon.com/images/M/MV5BZmU0M2Y1OGUtZjIxNi00ZjBkLTg1MjgtOWIyNThiZWIwYjRiXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg' %></div>
      </div>

      <div class="cassette-card-infos">
        <h3 class="cassette-card-infos-movie-title"><!-- titre du film, à interpoler -->Retour Vers Le Futur</h3>
        <p class="cassette-card-infos-distance"><!-- distance de la cassette, à interpoler -->10 km</p>
        <p class="cassette-card-infos-availability"><strong>Prochaine dispo:</strong><br/><!-- date de dispo de la cassette, à interpoler --> 12 Juillet 2024</p>
        <p class="cassette-card-infos-genre"><strong>Genre:</strong><!-- categorie du film, à interpoler --> Sci-Fi, Aventure, Comédie</p>
        <p class="cassette-card-infos-summary"><!-- résumé du film, à interpoler -->Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
      </div>
    </div>
    <!-- a enlever :end -->

  </div>
</div>
<!-- Structure de la card : end -->


<div class="test"></div>


<footer class="foot" >

  <div class="blue-line"></div>
  <div class="red-line"></div>
  <div class="yellow-line"></div>
  <div class="orange-line"></div>
</footer>

