<div class="container", class="text-center">
<h1>My bookings</h1>
<ul class="list-unstyled">
  <% @offers.each do |offer| %>
  <li><%= offer.name %></li>
  <li><%= offer.start_date %></li>
  <li><%= offer.end_date%></li>
  <%= link_to "Delete",
    offer_path(offer),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
  <%= link_to "Page principale", root_path, class: "btn btn-primary" %>
  </ul>
</div>
