<nav class="navbar-lewagon">

  <div class="orange-line">
    <%= link_to image_tag("logo-videopasse.png", width:'90'), root_path %>
      <%= form_with url: movies_path, class: "navbar-form", method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Entrez le titre du film", class: "form-text-field"%>
      <%= submit_tag "Search", class: "navbar-button"%>
    <% end %>

   <% if user_signed_in? %>
      <%= link_to "Crée ta VHS!", new_movie_path, class: "navbar-button" %>
    <% else %>
      <%= link_to "Crée ta VHS!", new_user_session_path, class: "navbar-button" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "navbar-button" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-button" %>
    <% end %>

  </div>

  <div class="yellow-line"></div>
  <div class="red-line"></div>
  <div class="blue-line"></div>
</nav>