<nav class="navbar-lewagon">

  <div class="orange-line">
    <%= link_to image_tag("logo-videopasse.png", width:'90'), root_path %>
      <div class="">
        <%= form_with url: "/", class: "navbar-form", method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Entrez le titre du film", class: "form-text-field"%>
        <%= submit_tag "Rechercher", class: "navbar-button"%>
        <% end %>
      </div>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "burger_cassette_blue_3D.png", width:'70', class: "dropdown-toggle hvr-grow-rotate", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="navbarDropdown">
              <%= link_to "Voir ma liste de film", movies_path, class: "navbar-button dropdown-item" %>
              <%= link_to "Crée ta VHS!", new_movie_path, class: "navbar-button dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "navbar-button dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "navbar-button" %>
          </li>
        <% end %>
      </ul>
  </div>

  <div class="yellow-line"></div>
  <div class="red-line"></div>
  <div class="blue-line"></div>
</nav>
